.axes path,
.axes line {
    
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.overlay {
  pointer-events: all;
}


svg {
  background: rgba(190,160,210,0.5);
}

.separator{
margin:40px;
text-align:center;
}
